name: Tests

on: [push, pull_request]

jobs:
  test:
    name: ${{ matrix.ruby }} on ${{ matrix.os }}${{ matrix.name_suffix }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019]
        ruby: ['2.1', '2.2', '2.3', '2.4', '2.5', '2.6', '2.7', '3.0', jruby-9.1, jruby-9.2]
        name_suffix: ['']
        experimental: [false]
        include:
          - os: ubuntu-20.04
            ruby: head
            name_suffix: ' (experimental)'
            experimental: true
          - os: ubuntu-20.04
            ruby: jruby-head
            name_suffix: ' (experimental)'
            experimental: true
          - os: windows-2019
            ruby: head
            name_suffix: ' (experimental)'
            experimental: true
          - os: windows-2019
            ruby: jruby-head
            name_suffix: ' (experimental)'
            experimental: true
      fail-fast: false
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Download argon2
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: |
          Invoke-WebRequest `
            -Uri https://github.com/philr/argon2-windows/releases/download/20190702/argon2-20190702-x64.zip `
            -OutFile argon2.zip `
            -MaximumRetryCount 10 `
            -RetryIntervalSec 2
          $RubyBinPath = Split-Path (Get-Command ${{ startsWith(matrix.ruby, 'jruby') && 'j' || '' }}ruby.exe).Path
          Write-Host $RubyBinPath
          $DllPath = Join-Path $RubyBinPath "Argon2OptDll.dll"
          Add-Type -Assembly System.IO.Compression.FileSystem
          $ZipPath = Join-Path (Get-Location).Path "argon2.zip"
          $Zip = [IO.Compression.ZipFile]::OpenRead($ZipPath)
          try {
            $Entry = $Zip.GetEntry("Argon2OptDll.dll")
            [IO.Compression.ZipFileExtensions]::ExtractToFile($Entry, $DllPath)
          } finally {
            $Zip.Dispose()
          }
      - run: ruby --version
      - run: gem --version
      - run: bundle --version
      - run: bundle exec rake test
        env:
          TESTOPTS: --verbose
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          CI_NAME: github-actions
          CI_BUILD_NUMBER: ${{ github.run_number }}
          CI_BUILD_URL: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
